<article class="content portfolio white-bg" id="chapterportfolio">
  <div class="inner">
    <h2>Portfolio</h2>
    <div class="title-divider"></div>
    <h3>Our portfolio features a variety of projects and services</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.</p>
    <div class="portfolio-con">
      <div class="container-sub margin-top50">
        <div class="row">
          <div id="grid-gallery" class="grid-gallery">
            <section class="grid-wrap">
              <ul class="grid">
                <li>
                  <figure> <img src="http://placehold.it/700x475" alt=""/>
                    <figcaption>
                      <div class="figcaption-details"> <img src="assets/images/icon-plus.png" height="82" width="82" alt="" />
                        <h3>The Flavour Restaurant</h3>
                        <span>Website Design & Development</span> </div>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure> <img src="http://placehold.it/700x475" alt=""/>
                    <figcaption>
                      <div class="figcaption-details"> <img src="assets/images/icon-plus.png" height="82" width="82" alt="" />
                        <h3>Herbal Beauty Salon</h3>
                        <span>Photography</span> </div>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure> <img src="http://placehold.it/700x475" alt=""/>
                    <figcaption>
                      <div class="figcaption-details"> <img src="assets/images/icon-plus.png" height="82" width="82" alt="" />
                        <h3>Kayra Modelleri</h3>
                        <span>Branding and Identity</span> </div>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure> <img src="http://placehold.it/700x475" alt=""/>
                    <figcaption>
                      <div class="figcaption-details"> <img src="assets/images/icon-plus.png" height="82" width="82" alt="" />
                        <h3>Fashion and You</h3>
                        <span>APPS and Web Design</span> </div>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure> <img src="http://placehold.it/700x475" alt=""/>
                    <figcaption>
                      <div class="figcaption-details"> <img src="assets/images/icon-plus.png" height="82" width="82" alt="" />
                        <h3>Whole Food Flour</h3>
                        <span>Branding and Identity</span> </div>
                    </figcaption>
                  </figure>
                </li>
              </ul>
            </section>

            <!-- Lightbox Popup -->
            <section class="slideshow">
              <ul>
                <li>
                  <figure>
                    <figcaption>
                      <h3>The Flavour Restaurant</h3>
                      <span>Website Design & Development</span>
                      <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, 						ullamco craft beer.</p>
                    </figcaption>
                    <div id="owl-demo1" class="owl-carousel">
                      <div class="item"><img src="http://placehold.it/700x475" alt="" /></div>
                      <div class="item"><img src="http://placehold.it/700x475" alt="" /></div>
                      <div class="item"><img src="http://placehold.it/700x475" alt="" /></div>
                      <div class="item"><img src="http://placehold.it/700x475" alt="" /></div>
                      <div class="item"><img src="http://placehold.it/700x475" alt="" /></div>
                    </div>
                  </figure>
                </li>
                <li>
                  <figure>
                    <figcaption>
                      <h3>Herbal Beauty Salon</h3>
                      <span>Photography</span>
                      <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
                    </figcaption>
                    <img src="http://placehold.it/700x475" alt=""/></figure>
                </li>
                <li>
                  <figure>
                    <figcaption>
                      <h3>Kayra Modelleri</h3>
                      <span>Branding and Identity</span>
                      <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
                    </figcaption>
                    <div id="owl-demo2" class="owl-carousel">
                      <div class="item"><img src="http://placehold.it/700x475" alt="" /></div>
                      <div class="item"><img src="http://placehold.it/700x475" alt="" /></div>
                      <div class="item"><img src="http://placehold.it/700x475" alt="" /></div>
                      <div class="item"><img src="http://placehold.it/700x475" alt="" /></div>
                      <div class="item"><img src="http://placehold.it/700x475" alt="" /></div>
                    </div>
                  </figure>
                </li>
                <li>
                  <figure>
                    <figcaption>
                      <h3>Fashion and You</h3>
                      <span>APPS and Web Design</span>
                      <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
                    </figcaption>
                    <iframe width="854" height="480" src="//www.youtube.com/embed/ZwzY1o_hB5Y" frameborder="0" allowfullscreen></iframe></figure>
                </li>
                <li>
                  <figure>
                    <figcaption>
                      <h3>Whole Food Flour</h3>
                      <span>Branding and Identity</span>
                      <p>Kale chips lomo biodiesel stumptown Godard Tumblr, mustache sriracha tattooed cray aute slow-carb placeat delectus. Letterpress asymmetrical fanny pack art party est pour-over skateboard anim quis, ullamco craft beer.</p>
                    </figcaption>
                    <img src="http://placehold.it/700x475" alt=""/></figure>
                </li>
              </ul>
              <nav> <span class="fa nav-prev"></span> <span class="fa nav-next"></span> <span class="fa nav-close"></span> </nav>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
