<article class="content about white-bg" id="chapterabout">
  <div class="inner">
    <h2>About</h2>
    <div class="title-divider"></div>
    <div class="about-con">
      <ul>
        <li>Name: Andrew Smith</li>
        <li>Email: <a href="mailto:andrew@gmail.com">andrew@gmail.com</a></li>
        <li>Phone: (123) - 456-7890</li>
        <li>Date of birth: 23 February 1986</li>
        <li>Address: PO Box 16122 Collins Street West, Victoria, USA.</li>
        <li>Nationality: United States</li>
      </ul>
      <h3>Professional Profile</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit.<br>
      </p>
      <a href="#" class="button">Download resume as PDF format</a> <img src="http://placehold.it/150x134" class="signature" alt="" /> </div>
  </div>
</article>
