<aside class="menu" id="menu">
  <div class="logo">
    <!-- Logo image-->
    <img src="assets/images/logo.png" width="140" height="140" alt=""/>
    <!-- Logo name-->
    <span>Andrew Smith</span></div>
  <!-- Mobile Navigation-->
  <a href="#menu1" class="menu-link"></a>
  <!-- Left Navigation-->
  <nav id="menu1" role="navigation"> <a href="#chapterintroduction"><span id="link_introduction" class="active">Home</span></a> <a href="#chapterabout"><span id="link_about">About</span></a> <a href="#chapterskills"><span id="link_skills">Skills</span></a> <a href="#chapterexperience"><span id="link_experience">Experience</span></a> <a href="#chaptereducation"><span id="link_education">Education</span></a> <a href="#chapterportfolio"><span id="link_portfolio">Portfolio</span></a><a href="#chaptercontact"><span id="link_contact">Contact</span></a><a href="blog.html"><span id="link_blog">Blog</span></a></nav>
  <div class="social"> <a href="https://www.facebook.com" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> <a href="https://plus.google.com" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a> </div>
  <div class="copyright"> © Andrew Smith.<br>
    All Rights Reserved. </div>
</aside>
