<div id="container" class="container">
  <!-- Left Menu / Logo-->
  <aside class="menu" id="menu">
    <div class="logo">
      <!-- Logo image-->
      <img src="assets/images/logo.png" width="140" height="140" alt=""/>
      <!-- Logo name-->
      <span>{{ introduction.name }}</span></div>
    <!-- Mobile Navigation-->
    <a (click)="mobile()" class="menu-link"></a>
    <!-- Left Navigation-->
    <nav id="menu1" role="navigation">
      <a href="#chapterintroduction">
        <span id="link_introduction" class="active">Home</span>
      </a>
      <a href="#chapterabout">
        <span id="link_about">About</span>
      </a>
      <a href="#chapterskills">
        <span id="link_skills">Skills</span>
      </a>
      <a href="#chapterexperience">
        <span id="link_experience">Experience</span>
      </a>
      <a href="#chaptereducation">
        <span id="link_education">Education</span>
      </a>
      <a href="#chapterportfolio">
        <span id="link_portfolio">Portfolio</span>
      </a>
      <a href="#chaptercontact">
        <span id="link_contact">Contact</span>
      </a>
    </nav>
    <div class="copyright" > © {{ introduction.name | titlecase }}.<br>
      All Rights Reserved. </div>
  </aside>
  <!-- Go to top link for mobile device -->
  <a href="#menu" class="totop-link">Go to the top</a>
  <div class="content-scroller">
    <div class="content-wrapper">

      <!-- Introduction -->
      <article class="content introduction noscroll" id="chapterintroduction">
        <div class="inner" style="color: #f6f7f8;">
          <h2><span>HEllo, I'm</span><br>
            {{ introduction.name | uppercase }}</h2>
          <span class="title">{{ introduction.title }}</span> </div>
        <owl-carousel-o [options]="customOptions">

          <ng-container *ngFor="let slide of introduction.images">
            <ng-template carouselSlide >
              <img [src]="server + slide.url" >
            </ng-template>
          </ng-container>

        </owl-carousel-o>
      </article>

      <!-- About -->
      <article class="content about white-bg" id="chapterabout">
        <div class="inner">
          <h2>About</h2>
          <div class="title-divider"></div>
          <div class="about-con">
            <ul>
              <li>Name: {{ introduction.name | titlecase }}</li>
              <li>Email: <a href="mailto:{{ about.email | lowercase }}">{{ about.email | lowercase }}</a></li>
              <li>Phone: {{ about.phone }}</li>
              <li>Address: {{ about.address }}</li>
              <li>Nationality: {{ about.nationality }}</li>
            </ul>
            <h3>Professional Profile</h3>
            <p>{{ about.profile }}<br>
            </p>
            <a href="{{ server + about.resume }}" target="_blank" class="button">Download my resume</a> </div>
        </div>
      </article>

      <!-- Skills -->
<!--      <article class="content experience gray-bg" id="chapterskills">-->
<!--        <div class="inner">-->
<!--          <h2>Skills</h2>-->
<!--          <div class="title-divider"></div>-->
<!--          <h3>My Skills</h3>-->
<!--&lt;!&ndash;          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.</p>&ndash;&gt;-->
<!--          <div class="experience-con">-->
<!--            <div class="container-sub">-->
<!--              <div class="full-divider"></div>-->
<!--              <div class="row">-->
<!--                <div *ngFor="let item of skill.data; let last = last">-->
<!--                  <div class="experience-details">-->
<!--                    <div class="col-6 margin-bottom50 margin-top50">-->
<!--                      <div class="col-3 icon-block"><i class="fa fa-code"></i></div>-->
<!--                      <div class="flot-left">-->
<!--                        <h5>{{ item.name }}</h5>-->
<!--                        <span>{{ item.age + ' years experience' }}</span> </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div *ngIf="!last" class="full-divider"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          </div>-->
<!--      </article>-->

      <article class="content skills gray-bg" id="chapterskills">
        <div class="inner">
          <h2>Skills</h2>
          <div class="title-divider"></div>
          <h3>My Skills</h3>
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.</p>-->
          <div class="skills-con">
            <div class="container-sub margin-top50">
              <div class="row">
                <div *ngFor="let item of skill.data" class="col-6 margin-bottom50">
                  <div class="col-6"><span class="chart" [attr.data-percent]="item.percent"><span class="percent">{{ item.percent }}</span> </span></div>
                  <div class="col-6 chart-text">
                    <h4>{{ item.name }}</h4>
                    <p>{{ item.age + ' years experience' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>

      <!-- Experience -->
      <article class="content experience white-bg" id="chapterexperience">
        <div class="inner">
          <h2>Experience</h2>
          <div class="title-divider"></div>
          <h3>5 Years Experience!</h3>
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.</p>-->
          <div class="experience-con">
            <div class="container-sub">
              <div class="full-divider"></div>
              <div class="row">
                <div *ngFor="let item of experience.data; let last = last">
                  <div class="experience-details">
                    <div class="col-6 margin-bottom50 margin-top50">
                      <div class="col-3 icon-block"><i class="fa fa-{{ item.icon }}"></i></div>
                      <div class="flot-left">
                        <h5>{{ item.company }}</h5>
                        <h4>{{ item.position }}</h4>
                        <span>{{ item.duration }}</span> </div>
                    </div>
                    <div class="col-6 margin-bottom50 margin-top50 no-margin-top"> {{ item.text }} </div>
                  </div>
                  <div *ngIf="!last" class="full-divider"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>

      <!-- Education -->
      <article class="content education gray-bg" id="chaptereducation">
        <div class="inner">
          <h2>Education</h2>
          <div class="title-divider"></div>
          <h3>My Education</h3>
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.</p>-->
          <div class="education-con">
            <div class="container-sub">
              <div class="full-divider"></div>
              <div class="row">
                <div *ngFor="let item of education.data; let last = last">
                  <div class="education-details">
                    <div class="col-6 margin-bottom50 margin-top50">
                      <div class="col-3 icon-block"><i class="fa fa-{{ item.icon }}"></i></div>
                      <div class="flot-left">
                        <h5>{{ item.college }}</h5>
                        <h4>{{ item.degree }}</h4>
                        <span>{{ item.duration }}</span> </div>
                    </div>
                    <div class="col-6 margin-bottom50 margin-top50 no-margin-top"> {{ item.text }} </div>
                  </div>
                  <div *ngIf="!last" class="full-divider"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>

      <!-- Portfolio -->
      <article class="content portfolio white-bg" id="chapterportfolio">
        <div class="inner">
          <h2>Portfolio</h2>
          <div class="title-divider"></div>
          <h3>My portfolio features a variety of projects and services</h3>
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.</p>-->
          <div class="portfolio-con">
            <div class="container-sub margin-top50">
              <div class="row">
                <div id="grid-gallery" class="grid-gallery">
                  <section class="grid-wrap">
                    <ul class="grid">
                      <li *ngFor="let item of portfolio.data">
                        <a href="{{ item.url }}" target="_blank">
                          <figure> <img src="{{ server + item.images[0].url }}" alt=""/>
                            <figcaption>
                              <div class="figcaption-details"> <img src="assets/images/icon-plus.png" height="82" width="82" alt="" />
                                <h3>{{ item.title }}</h3>
                                <span>{{ item.description }}</span> </div>
                            </figcaption>
                          </figure>
                        </a>
                      </li>
                    </ul>
                  </section>

                  <!-- Lightbox Popup -->
                  <section class="slideshow">
                    <ul>
                      <li *ngFor="let item of portfolio.data">
                        <figure>
                          <figcaption>
                            <h3>{{ item.title }}</h3>
                            <span>{{ item.description }}</span>
                            <p>{{ item.text }}</p>
                          </figcaption>
                          <div id="owl-demo1" class="owl-carousel">
                            <div *ngFor="let image of item.images" class="item"><img src="{{ server + image.url }}" alt="" /></div>
                          </div>
                        </figure>
                      </li>
                    </ul>
                    <nav> <span class="fa nav-prev"></span> <span class="fa nav-next"></span> <span class="fa nav-close"></span> </nav>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>

      <!-- Contact -->
      <article class="content contact gray-bg" id="chaptercontact">
        <div class="inner">
          <h2>Contact</h2>
          <div class="title-divider"></div>
          <h3>Let's Keep In Touch</h3>
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.</p>-->
          <div class="full-divider"></div>
          <div class="contact-con margin-top50">
            <div class="container-sub">
              <div class="row">
                <div class="contact-details">
                  <div class="col-6">
                    <div class="contact-text">
                      <div class="col-2 icon-block address"><i class="fa fa-map-marker"></i></div>
                      <div class="flot-left"> <strong>{{ introduction.name }}</strong><br>
                        {{ about.address }}
                      </div>
                    </div>
                    <div class="contact-text">
                      <div class="col-2 icon-block phone"><i class="fa fa-phone"></i></div>
                      <div class="flot-left"> <strong>Phone</strong><br>
                        {{ about.phone }} </div>
                    </div>
                    <div class="contact-text">
                      <div class="col-2 icon-block email"><i class="fa fa-envelope"></i></div>
                      <div class="flot-left"> <strong>Email</strong><br>
                        <a href="mailto:{{ about.email }}">{{ about.email }}</a> </div>
                    </div>
                  </div>
                  <div class="col-6 m-margin-top30" >
                    <h3>I'm also on Social Networks</h3>
<!--                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor.-->
                    <div class="contact-social margin-top30">
                      <a *ngFor="let soc of social.data" href="{{ soc.url }}" target="_blank">
                        <i class="fa fa-{{ soc.icon }}"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="full-divider"></div>
            <div class="container-sub">
              <div class="row">
                <div class="contact-form">
                  <h3>Drop Me a Line</h3>
                  <form id="form1" [formGroup]="contactForm" (ngSubmit)="send(contactForm.value)" >
                    <input name="name" formControlName="name" type="text" id="name" placeholder="Your Name..." />
                    <div class="errormsg" >{{ n }}</div>
                    <input name="email" formControlName="email" type="text" id="email" placeholder="Your Email..." />
                    <div class="errormsg" >{{ e }}</div>
                    <textarea name="message" formControlName="message" id="message" cols="45" rows="5" placeholder="Your Message..."></textarea>
                    <div class="errormsg" >{{ m }}</div>
                    <input type="submit" [disabled]="!contactForm.valid || loading" id="" value="say hello!" >
                    <div *ngIf="mess" id="successmsg" >Thank you for the message, I will contact you soon.</div>
                    <div *ngIf="emess" class="errormsg" >Something went wrong, please try again</div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>

      <!-- Introduction -->
      <article class="content introduction-end" id="chapterthankyou">
        <div class="inner">
          <div class="introduction-end-con margin-top50">
            <h3><strong>{{ introduction.short_name }}</strong></h3>
            <div id="rotate" class="rotate">
              <div><span>awesome.</span></div>
              <div><span>invincible.</span></div>
              <div><span>unbeatable.</span></div>
              <div><span>indestructible.</span></div>
            </div>
          </div>
        </div>
      </article>
    </div>
    <!-- content-wrapper -->
  </div>
  <!-- content-scroller -->
</div>
