<div id="container" class="container">
  <!-- Left Menu / Logo-->
  <app-navbar></app-navbar>
  <!-- Go to top link for mobile device -->
  <a href="#menu" class="totop-link">Go to the top</a>
  <div class="content-scroller">
    <div class="content-wrapper">

      <!-- Introduction -->
      <app-introduction></app-introduction>

      <!-- About -->
      <app-about></app-about>

      <!-- Skills -->
      <app-skills></app-skills>

      <!-- Experience -->
      <app-experience></app-experience>

      <!-- Education -->
      <app-education></app-education>

      <!-- Pportfolio -->
      <app-portfolio></app-portfolio>

      <!-- Contact -->
      <app-contact></app-contact>

      <!-- Introduction -->
<!--      <article class="content introduction-end" id="chapterthankyou">-->
<!--        <div class="inner">-->
<!--          <div class="introduction-end-con margin-top50">-->
<!--            <h3><strong>Andrew Smith</strong></h3>-->
<!--            <div id="rotate" class="rotate">-->
<!--              <div><span>awesome.</span></div>-->
<!--              <div><span>invincible.</span></div>-->
<!--              <div><span>unbeatable.</span></div>-->
<!--              <div><span>indestructible.</span></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </article>-->
    </div>
    <!-- content-wrapper -->
  </div>
  <!-- content-scroller -->
</div>
