<article class="content education gray-bg" id="chaptereducation">
  <div class="inner">
    <h2>Education</h2>
    <div class="title-divider"></div>
    <h3>Just My Education</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.</p>
    <div class="education-con">
      <div class="container-sub">
        <div class="full-divider"></div>
        <div class="row">
          <div class="education-details">
            <div class="col-6 margin-bottom50 margin-top50">
              <div class="col-3 icon-block"><i class="fa fa-photo"></i></div>
              <div class="flot-left">
                <h5>University of Design</h5>
                <h4>Bachelor of Arts</h4>
                <span>2009 - 2010</span> </div>
            </div>
            <div class="col-6 margin-bottom50 margin-top50 no-margin-top"> Phasellus nec gravida purus. Aliquam ac enim vel ipsum consectetur vulputate. Duis quis feugiat neque. Pellentesque eleifend, nisi vel mattis vestibulum, est lacus pretium quam. </div>
          </div>
          <div class="full-divider"></div>
          <div class="education-details">
            <div class="col-6 margin-bottom50 margin-top50">
              <div class="col-3 icon-block"><i class="fa fa-laptop"></i></div>
              <div class="flot-left">
                <h5>Boston State University</h5>
                <h4>Visual Art & Design</h4>
                <span>2006 - 2007</span> </div>
            </div>
            <div class="col-6 margin-bottom50 margin-top50 no-margin-top"> Phasellus nec gravida purus. Aliquam ac enim vel ipsum consectetur vulputate. Duis quis feugiat neque. Pellentesque eleifend, nisi vel mattis vestibulum, est lacus pretium quam. </div>
          </div>
          <div class="full-divider"></div>
          <div class="education-details">
            <div class="col-6 margin-bottom50 margin-top50">
              <div class="col-3 icon-block"><i class="fa fa-life-bouy"></i></div>
              <div class="flot-left">
                <h5>Boston State University</h5>
                <h4>Degree of Design</h4>
                <span>2004 - 2005</span> </div>
            </div>
            <div class="col-6 margin-bottom50 margin-top50 no-margin-top"> Phasellus nec gravida purus. Aliquam ac enim vel ipsum consectetur vulputate. Duis quis feugiat neque. Pellentesque eleifend, nisi vel mattis vestibulum, est lacus pretium quam. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
