<article class="content skills gray-bg" id="chapterskills">
  <div class="inner">
    <h2>Skills</h2>
    <div class="title-divider"></div>
    <h3>Just My Awesome Skills</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.</p>
    <div class="skills-con">
      <div class="container-sub margin-top50">
        <div class="row">
          <div class="col-6 margin-bottom50">
            <div class="col-6"><span class="chart" data-percent="75"><span class="percent"></span> </span></div>
            <div class="col-6 chart-text">
              <h4>Film Editing</h4>
              <p>Expert, 4 years</p>
            </div>
          </div>
          <div class="col-6 margin-bottom50">
            <div class="col-6"><span class="chart" data-percent="88"><span class="percent"></span> </span></div>
            <div class="col-6 chart-text">
              <h4>Art Direction</h4>
              <p>Advanced, 2 years</p>
            </div>
          </div>
          <div class="col-6">
            <div class="col-6"><span class="chart" data-percent="90"><span class="percent"></span> </span></div>
            <div class="col-6 chart-text">
              <h4>Technical Expertise</h4>
              <p>Expert, 8 years</p>
            </div>
          </div>
          <div class="col-6">
            <div class="col-6"><span class="chart" data-percent="96"><span class="percent"></span> </span></div>
            <div class="col-6 chart-text">
              <h4>HTML5 CSS3</h4>
              <p>Expert, 8 years</p>
            </div>
          </div>
        </div>
      </div>
      <div class="full-divider"></div>
      <div class="container-sub skill-list">
        <div class="row">
          <h3>Knowledge</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.</p>
          <div class="col-4 margin-top10">
            <ul>
              <li>Google Analythics & SEO</li>
              <li>Instal and Configure</li>
              <li>E-commerce Platform</li>
              <li>Color theory knowledge</li>
            </ul>
          </div>
          <div class="col-4 margin-top10">
            <ul>
              <li>Photo manipulation skills</li>
              <li>Digital Painting</li>
              <li>Photo Composition</li>
              <li>Good sense of Tipography</li>
            </ul>
          </div>
          <div class="col-4 margin-top10">
            <ul>
              <li>Web Usability</li>
              <li>Grid & Layout</li>
              <li>Portrait Retouching</li>
              <li>Video Editing</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="full-divider"></div>
      <div class="container-sub">
        <div class="row">
          <h3>Language Skills</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.</p>
          <div class="progressbar-main margin-top50">
            <div class="progress-bar-description">English Experienced</div>
            <div id="progressBar" class="progress">
              <div class="progress-value"></div>
            </div>
          </div>
          <div class="progressbar-main margin-top40">
            <div class="progress-bar-description">French Advanced</div>
            <div id="progressBar2" class="progress">
              <div class="progress-value"></div>
            </div>
          </div>
          <div class="progressbar-main margin-top40">
            <div class="progress-bar-description">German Basic</div>
            <div id="progressBar3" class="progress">
              <div class="progress-value"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
